<!DOCTYPE html>
<html>
<head>
  <title>Flat Admin V.3 - Free flat-design bootstrap administrator templates</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<link rel="stylesheet" href="/styles/admin/vendor.css">
	<link rel="stylesheet" href="/styles/admin/flat-admin.css">

	<!-- Theme -->
	<link rel="stylesheet" href="/styles/admin/thema/blue-sky.css">
	<link rel="stylesheet" href="/styles/admin/thema/blue.css">
	<link rel="stylesheet" href="/styles/admin/thema/red.css">
	<link rel="stylesheet" href="/styles/admin/thema/yellow.css">
  </head>

  <body>
    <%- body %>



    <script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/admin/vendor.js"></script>
	<script src="/js/admin/app.js"></script>
	</body>
</html>
