<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
				<div id="logo">
					<h1 class="sousho"><img src="images/front/logo.png" alt=""><a href="#">活殺術 玄流</a></h1>
				</div>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active sousho"><a href="/">ホーム</a></li>
						<li class="sousho"><a href="/">玄流について</a></li>
						<li class="sousho"><a href="/">理　念</a></li>
						<li class="sousho"><a href="/">武道哲学</a></li>
					</ul>
				</nav>

		</div>
	</div>
<!-- Header -->

<!-- Banner -->
	<div id="banner">
		<div class="container">
		</div>
	</div>
<!-- /Banner -->

<!-- Main -->
	<div id="page">

		<!-- Main -->
		<div id="main" class="container">
			<div class="row">

				<div class="3u">
					<section class="sidebar">
						<header>
							<h2 class="sousho">玄流について</h2>
						</header>
						<ul class="style1">
							<li><a href="#">活殺術 玄流について</a></li>
							<li><a href="#">武術について</a></li>
							<li><a href="#">合気道について</a></li>
							<li><a href="#">医術について</a></li>
						</ul>
					</section>
					<section class="sidebar">
						<header>
							<h2 class="sousho">理　念</h2>
						</header>
						<ul class="style1">
							<li><a href="#">理念について</a></li>
						</ul>
					</section>
				</div>

				<div class="9u skel-cell-important">
					<section>
						<header>
							<h2><%= typeof records == 'undefined' ? '' : records.pop().body %></h2>
							<!-- <span class="byline">Augue praesent a lacus at urna congue rutrum</span> -->
						</header>
						<p>玄流は、古くから伝わる武術つまり「殺法」としての抜刀術、居合術、杖術、柔術、手裏剣術、弓術そして、現代武道である旧日本軍の抜刀術や実践合気道、拳法、護身術、そして心法と、医術として活法（蘇生術）、漢方経絡に基づく整体術などを伝える総合武道です。</p>
						<p>人の蘇生術を「活法」と言い、病気を治すための術である整体術、導引（現代でいう気功の源流）なども伝えるため「活殺術」と呼んでいます。</p>
						<p>また、現実的な犯罪に対処できる技と伝統武術による日本文化と精神である礼儀作法、東洋哲学である老子、孔子、仏教を統合する武士道精神を研究学習することによって広く社会貢献できる人となることを目的としています。</p>
					</section>
				</div>

			</div>
		</div>
		<!-- Main -->

	</div>
<!-- /Main -->

<!-- Featured -->
	<div id="featured">
		<div class="container">
			<div class="row">
				<section class="4u">
					<div class="box">
						<a href="#" class="image left"><img src="images/front/pics04.jpg" alt=""></a>
						<h3>稽&nbsp;&nbsp;古</h3>
						<p>玄流の稽古は、道場によって主に行う稽古は若干違います。</p>
						<a href="#" class="button">詳細</a>
					</div>
				</section>
				<section class="4u">
					<div class="box">
						<a href="#" class="image left"><img src="images/front/pics05.jpg" alt=""></a>
						<h3>道&nbsp;&nbsp;場</h3>
						<p>玄流の道場は、現在奈良と京都の2箇所です。<br/><br/></p>
						<a href="#" class="button">詳細</a>
					</div>
				</section>
				<section class="4u">
					<div class="box">
						<a href="#" class="image left"><img src="images/front/pics06.jpg" alt=""></a>
						<h3>入&nbsp;&nbsp;門</h3>
						<p>入門に関する詳細や見学について、説明しています。</p>
						<a href="#" class="button">詳細</a>
					</div>
				</section>
			</div>
			<div class="divider"></div>
		</div>
	</div>
<!-- /Featured -->

<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="3u">
					<section>
						<h2 class="sousho">玄流の理念</h2>
						<div class="balloon">
							<blockquote>&nbsp;&nbsp;&nbsp;日本古来からの武士道精神と技の
実践による人間性の育成と社会貢献&nbsp;&nbsp;&rdquo;<br>
								<br>
								<strong>&ndash;&nbsp;&nbsp;玄流宗家 田中</strong></blockquote>
						</div>
						<div class="ballon-bgbtm">&nbsp;</div>
					</section>
				</div>
				<div class="3u">
					<section>
						<h2 class="sousho">近&nbsp;&nbsp;&nbsp;&nbsp;況</h2>
						<ul class="default">
							<li>
								<h3>京都造形芸術大学古武道部弓術（アーチェリー）一日合宿</h3>
								<p><a href="#">10月16日に京都造形芸術大学 古武道 玄流 活殺術部を中心に本部道場有志数名を加え、白梅スポーツセンターにて、毎年恒例のフィールドアーチェリー合宿を開催しました。</a></p>
							</li>
							<li>
								<h3>第四回　芸能祭に出演</h3>
								<p><a href="#">京都芸術劇場 春秋座にて2月21日に開催された第四回 瓜生山芸能祭に古武道 玄流 活殺術部が出演し、演武しました。</a></p>
							</li>
							<li>
								<h3>「マイナビ」の取材を受けました。</h3>
								<p><a href="#">京都造形芸術大学 古武道 玄流 活殺術部が「マイナビ」の取材を受けました。</a></p>
							</li>
						</ul>
					</section>
				</div>
				<div class="3u">
					<section>
						<h2 class="sousho">歩&nbsp;&nbsp;&nbsp;&nbsp;み</h2>
						<p>過去の催しや、日々の稽古の様子など、を紹介しています。</p>
						<ul class="style5">
							<li><a href="#"><img src="images/front/pics07.jpg" alt=""></a></li>
							<li><a href="#"><img src="images/front/pics08.jpg" alt=""></a></li>
							<li><a href="#"><img src="images/front/pics09.jpg" alt=""></a></li>
							<li><a href="#"><img src="images/front/pics10.jpg" alt=""></a></li>
							<li><a href="#"><img src="images/front/pics11.jpg" alt=""></a></li>
							<li><a href="#"><img src="images/front/pics12.jpg" alt=""></a></li>
						</ul>
						<a href="#" class="button">もっと見る</a>
					</section>
				</div>
				<div class="3u">
					<section>
						<h2 class="sousho">関連情報</h2>
						<p><strong>その他玄流に関するリンク集です。</strong></p>
						<ul class="default">
							<li>
								<p><a href="#">京都造形芸術大学　古武道 玄流 活殺術部 Facebookページ</a></p>
							</li>
							<li>
								<p><a href="#">合気道SAオフィシャルサイト</a></p>
							</li>
							<li>
								<p><a href="#">活殺術 玄流 と 武道 ブログ</a></p>
							</li>
							<li>
								<p><a href="#">NEｘT-Institute　ネクスト神経機能医学研究所</a></p>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
<!-- /Footer -->

<!-- Copyright -->
	<div id="copyright" class="container">
		Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
	</div>
